<launch>

  <!-- load joint controller configurations from YAML file to parameter server (rosparam for yaml)-->
  <rosparam file="$(find darwin_control)/config/darwin_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node
    pkg="controller_manager"
    type="spawner"
    name="controller_spawner"
    respawn="false"
    output="screen" 
    ns="/darwin" 
    args="joint_state_controller j_pan_position_controller j_tilt_position_controller j_pelvis_l_position_controller j_thigh1_l_position_controller j_thigh2_l_position_controller j_tibia_l_position_controller j_ankle1_l_position_controller j_ankle2_l_position_controller j_pelvis_r_position_controller j_thigh1_r_position_controller j_thigh2_r_position_controller j_tibia_r_position_controller j_ankle1_r_position_controller j_ankle2_r_position_controller  j_shoulder_l_position_controller j_high_arm_l_position_controller j_low_arm_l_position_controller j_shoulder_r_position_controller j_high_arm_r_position_controller j_low_arm_r_position_controller"
  />
    
  <!-- convert joint states to TF transforms for rviz, etc -->
  <node
    pkg="robot_state_publisher"
    type="robot_state_publisher"
    name="robot_state_publisher" 
    respawn="false"
    output="screen"
  >
    <remap from="/joint_states" to="/darwin/joint_states" />
  </node>

</launch>
